<!--
Pass any SVG icon as children (recommended width/height : w-6 h-6 or size-6)
By default, it's using your primary color for styling
-->
<div class='size-8 inline-flex items-center justify-center rounded-xl bg-primary/20 text-primary flex-shrink-0'>
		<slot />
</div>
