---
import { profile } from '../../settings'
import { getLangFromUrl } from '../../i18n/utils'

const { fullName } = profile
const currentLang = getLangFromUrl(Astro.url)

const buildTime = import.meta.env.BUILD_TIME || ''

const copyright = {
  zh: `最后更新时间：${buildTime}`,
  en: `Last updated: ${buildTime}`,
  ja: `最終更新：${buildTime}`
}
---

<footer class='footer footer-center bg-base-100 text-base-content px-4 py-6 border-t'>
	<aside>
		<p>
			{copyright[currentLang as keyof typeof copyright] || copyright.en}
		</p>
	</aside>
</footer>
